@import url('https://fonts.cdnfonts.com/css/sf-comic-script');
.Logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    font-size: 60px;
    font-family: 'SF Comic Script', sans-serif;
}
.Logo > .Chip {
    width: 70px;
    height: 70px;
    text-align: center;
}
.Logo > .Chip::before {
    content: "4";
    position: relative;
    left: -5px;
    top: -3px;
}
