:root {
    --board-color: dodgerblue /*rgb(0, 31, 206)*/;
    --board-cols: 7;
    --board-rows: 6;
    --board-gaps: 15px;
    --chip-size: 60px;
    --chip-amt: calc(var(--board-cols) * var(--board-rows));
}
.Board {
    background-color: var(--board-color);

    display: inline-grid;
    grid-template-columns: repeat(var(--board-cols), var(--chip-size));
    grid-template-rows: 1, var(--chip-size);
    grid-gap: var(--board-gaps);

    border-radius: 20px;

    padding: 15px;
    /*here because the chips dont seem to fit*/
    padding-right: 17px;

    margin-bottom: 30px;
}
